@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background: #E9FFF3;
}

.thumbnail-carousel .thumbnail-item {
  cursor: pointer;
  padding: 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.thumbnail-carousel .thumbnail-item.active {
  opacity: 1;
  border: 2px solid #056E3D; /* Example border for active thumbnail */
}
.thumbnail-carousel .thumbnail-item img {
  border-radius: 5px;
}

/* Custom CSS for Testimonials Carousel */
.slider-wrapper {
  padding: 10vh 0;
  width: 80%;
}
.carousel .slide {
  opacity: 0.5; 
  transform: scale(0.9); 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.carousel .slide.selected {
  opacity: 1;
  transform: scale(1.05); 
}

.testimonial-item {
  /* padding: 1.5rem; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

/* Outer container with hidden overflow */
.thumbnail-carousel .thumbnail-item {
    cursor: pointer;
    padding: 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.thumbnail-carousel .thumbnail-item.active {
    opacity: 1;
    border: 2px solid #056E3D; /* Example border for active thumbnail */
}

.thumbnail-carousel .thumbnail-item img {
    border-radius: 5px;
}

/* Custom CSS for Testimonials Carousel */



/* faq */

.faq-section {
  margin: auto;
  padding: 20px;
}
.faq-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
}
.faq-answer {
  padding: 10px;
  background-color: #fff;
}
.history-para {
  line-height: 2;
  word-spacing: 2px;
}